/.nvim_build_cache
/bin
*.odt
*.pdf
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
build/
Testing/
file_io_test
compress_test
huffman
test_compress_decompress
Felh_dok.md
