/.nvim_build_cache
/bin
build-*/
_codeql_build_dir/
_codeql_detected_source_root
*.odt
*.pdf
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
build/
Testing/
file_io_test
compress_test
huffman
test_compress_decompress
Felh_dok.md
Dokumentacio.md
doksi.md
